#ticket_form {
    font-family: Verdana, Helvetica, sans-serif;
    /* font-size: 10pt; */
    color: dimgray;
    width: 200;
    border: 1px solid rgba(211, 211, 211, 0.535);
    padding: 0 8px;
    
    align-items: auto;
    align-self: auto;
    vertical-align: middle; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
form ul {
    list-style-type: none;
    padding-left: 0;
}
form li {
    margin: 0 0 6px 0;
    padding-bottom: 2%;
}
.field {
    width: 100%;
}

title{
    font: bold;
}